<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "errore") %> antes de guardar:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-2 control-label" %>
    <%= f.text_field :nombre, class: "col-sm-10 form-contol" %><br>
  </div>
  <div class="form-group">
    <%= f.label :apellido, class: "col-sm-2 control-label" %>
    <%= f.text_field :apellido, class: "col-sm-10 form-contol" %><br>
  </div>
  <div class="form-group">
    <%= f.label :cedula, class: "col-sm-2 control-label" %>
    <%= f.text_field :cedula, class: "col-sm-10 form-contol" %><br>
  </div>
  <div class="form-group">
    <%= f.label :telefono, class: "col-sm-2 control-label" %>
    <%= f.text_field :telefono, class: "col-sm-10 form-contol" %><br>
  </div>
  <div class="form-group">
    <%= f.label :correo, class: "col-sm-2 control-label" %>
    <%= f.text_field :correo, class: "col-sm-10 form-contol" %><br>
  </div>
  <div class="form-group">
    <%= f.label :direccion, class: "col-sm-2 control-label" %>
    <%= f.text_area :direccion, class: "col-sm-10 form-contol" %><br>
  </div>
  <div class="form-group">
    <%= f.submit "Aceptar", class: "col-sm-offset-2 col-sm-10 btn btn-success" %><br>
    <%= link_to 'Cancelar', @cliente, class: "col-sm-offset-2 col-sm-10 btn btn-info" %>
  </div>
<% end %>
