<div class="container">
  <div class="row">
    <h1 class="text-center">Lista de Tribunales</h1>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr class="info">
            <th>Area</th>
            <th>Instancia</th>
            <th>Tipo</th>
            <th>Juez/a</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
      
        <tbody>
          <% @tribunals.each do |tribunal| %>
            <tr>
              <td><%= tribunal.area %></td>
              <td><%= tribunal.instancia %></td>
              <td><%= tribunal.tipo %></td>
              <td><%= tribunal.juez %></td>
              <td><%= tribunal.direccion %></td>
              <td><%= tribunal.telefono %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span> Editar'.html_safe, edit_tribunal_path(tribunal), class: "col-xs-12 btn btn-warning" %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-trash"></span> Eliminar'.html_safe, tribunal, class: "col-xs-12 btn btn-danger", method: :delete, data: { confirm: 'Estás seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <%= link_to '<span class="glyphicon glyphicon-tower"></span> Nuevo Tribunal'.html_safe, new_tribunal_path, class: "col-xs-offset-5 col-xs-2 btn btn-success" %>
  </div>
</div>