<!DOCTYPE html>
<html>
<head>
  <title>Abogado</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<a href="#" class="navbar-brand">Abogados</a>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Archivos<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
			            <li><a href="#"><%= link_to "Clientes", clientes_path %></a></li>
			            <li class="divider"></li>
			            <li><a href="#"><%= link_to "Abogados", abogado_ps_path %></a></li>
			            <li class="divider"></li>
			            <li><a href="#"><%= link_to "Tribunales", tribunals_path %></a></li>
			            <li class="divider"></li>
<<<<<<< HEAD
			            <li><a href="#"><%= link_to "Expedientes", expedientes_path %></a></li>
=======
			            <li><a href="#">Expedientes</a></li>
>>>>>>> f0e8b263a068132c143ff12a6b436b4fe1cac441
			        </ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Expedientes<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
			            <li><a href="#">Judiciales</a></li>
			            <li class="divider"></li>
			            <li><a href="#"><%= link_to "Extra Judiciales" %></a></li>
			        </ul>
				</li>
				<li><%= link_to "Agenda" %></li>
				<li><%= link_to "Configuración" %></li>
			</ul>
		</div>
	</div>
	<%= yield %>

</body>
</html>